* {
    margin: 0;
    padding: 0;
    

}
/* body {
    background-image: url('images/skyProduce.jpeg');
    background-size: cover ;
} */

.date {
    opacity: 100%;
}

.container {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    background-color: coral;
    padding: 40px;
    margin: 30px;
    color: white
    
}

 /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px; */